* {
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid #e5e7eb;
    background-color: #807397; 
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

#hello, h2 {
    text-align: center;
    padding-top: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    gap: 30px;
}

.answer-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.gameover-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

