* {
    margin: 0;
    padding: 0;
    color: #121312;
}

button {
    border: 1px solid #e5e7eb;
    background-color: #38553a; 
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

#hello, h2 {
    text-align: center;
    padding-top: 50px;
}

#human-choice,
#comp-choice {
    color: #38553a;
}

#new-game {
    border: 1px solid #e5e7eb;
    background-color: #38553a; 
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}


.btn-container,
.score-container,
.answer-container,
.gameover-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-container {
    padding: 50px 0px;
}

.score-container {
    font-size: 20px;
}

.answer-container{
    font-size: 20px;
    padding-top: 20px;
}

.gameover-container {
    padding-top: 30px;
    align-items: center;

}



